body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 50px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}

a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: white;
}

/******Class Separators*********/
.heading {
  margin: 0;
  font-family: 'Gluten', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.insurance-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.technical-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  width: 20%;
  border-radius: 20%
}

.skills {
  padding-top: 30px;
}

.contact {
  margin-bottom: 30px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #62e057;
  background-image: -webkit-linear-gradient(top, #62e057, #5cdb84);
  background-image: -moz-linear-gradient(top, #62e057, #5cdb84);
  background-image: -ms-linear-gradient(top, #62e057, #5cdb84);
  background-image: -o-linear-gradient(top, #62e057, #5cdb84);
  background-image: linear-gradient(to bottom, #62e057, #5cdb84);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
